@charset "UTF-8";

/* js stats z-index: 100 */

body {
    font-size: 100%;
    margin:0;
    padding: 0;
    background-color:#fff;
    /*font-family:'Georgia','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;*/
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

img { border: none }

#threeJs {
    position:absolute;
    left:0;
    top:0
}

/* info */

#info {
    position:absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}

#info ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}

#info li {
    display: block;
    padding: 0 0 5px;
    line-height: 1.5;
    font-size: 0.75em;
}

#info a {
    color: #ff0099;
}

#info a:hover {
    text-decoration: none;
}

/* sns buttons */

iframe.twitter-share-button {
    width: 90px!important;
}

#___plusone_0 {
    width: 70px!important;
}

/* background Black */

body#bgBlack {
    background-color: #000;
}

#bgBlack #info {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}
